body {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;
	background-image: url('../img/tulips.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.centered {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

#scale {
	top: 40%;
	font-size: 6vmin;
	font-family: sans-serif;
	color: cornflowerblue;
	padding: 0.5vmax 1vmax 0.5vmax 1vmax;
}

#icantsee {
	width: 40vmax;
	font-size: 6vmin;
	text-align: center;
	position: fixed;
	bottom: 1vmax;
	padding: .4vmax;
	border: .1vmax solid black;
	border-radius: 0.5vmax;
	background-color: darkgrey;
}